@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

/* Додали на 14-му уроці label display:inline-block, щоб можна було використовувати властивості для блочних елементів такі як margin */
label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[class*=__container] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  color: red;
  font-size: 30px;
}

.header {
  text-align: center;
  padding: 0 100px;
}
.header__text {
  font-size: 18px;
}

.page {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 50px;
}

.address {
  padding: 0 0 25px;
}
.address__text {
  font-size: 20px;
  margin-bottom: 20px;
}
.address__text > * {
  margin-bottom: 15px;
}
.address__text span {
  display: block;
}
.address__text > :last-child {
  margin-bottom: 0;
}
.address__unp {
  font-size: 0;
  max-width: 500px;
  width: 100%;
}
.address__unp :nth-child(1), .address__unp :nth-child(2) {
  display: inline-block;
  font-size: 16px;
  max-width: 50%;
  width: 100%;
  vertical-align: top;
}
.address__unp :nth-child(1) {
  -moz-text-align-last: left;
       text-align-last: left;
}
.address__unp :nth-child(2) {
  text-align: right;
}

.receipt {
  margin-bottom: 15px;
}
.receipt__title {
  font-size: 20px;
  width: 250px;
  text-transform: uppercase;
  margin: 0 auto 5px;
}
.receipt__text > * {
  margin-bottom: 5px;
}
.receipt__text > :last-child {
  margin-bottom: 0;
}
.receipt__number, .receipt__cashier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.receipt__number :nth-child(1), .receipt__cashier :nth-child(1) {
  text-transform: uppercase;
}
.receipt__number :nth-child(2), .receipt__cashier :nth-child(2) {
  text-transform: capitalize;
}

.body-receipt {
  margin-bottom: 30px;
}
.body-receipt__container > * {
  margin-bottom: 10px;
}
.body-receipt__container > :last-child {
  margin-bottom: 0;
}
.body-receipt__text {
  width: 100%;
  text-align: left;
}
.body-receipt__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-receipt {
  text-align: left;
}
.footer-receipt__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}